<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="css/Newpassword.css">
</head>

<body>
    <form action="/newpassword" method="post">
        <div class="input">
            <label for="">New Password</label>
            <input type="password" name="password" class="input-filed">
        </div>
        <div class="input">
            <label for="">Confirm Password</label>
            <input type="password" name="password2" class="input-filed">
        </div>
        <div class="input">
            <input type="submit" value="Next" class="nextbtn">
        </div>
         <p th:if="${error}" style="color:red" th:text="${error}"></p>
    </form>

</body>

</html>